@import url('https://fonts.cdnfonts.com/css/gt-walsheim-trial');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');

@import "tailwindcss";

html, body {
  font-family: 'GT Walsheim Trial', sans-serif !important;
}
.hamburger-icon {
  display: none;
}

@media (max-width: 1186px) {
  .hamburger-icon {
    display: block !important;
  }
}

.desktop-menu {
  display: flex !important;
}

/* DESKTOP ACTION BUTTONS SHOW ABOVE 1186px */
.desktop-actions {
  display: flex !important;
}

/* HIDE BOTH BELOW 1186px */
@media (max-width: 1186px) {
  .desktop-menu,
  .desktop-actions {
    display: none !important;
  }
}

